@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@color_red: #ef5b70;
@color_gray: #e8e8e8;
@color_gray_2: #e6e6e6;
@color_black: #222;
@img_slider: url(../img/slider-man.jpg);
@img_home_fetured_1: url(../img/category-man.jpg);
@img_home_fetured_2: url(../img/category-purse.jpg);
@img_home_fetured_3: url(../img/category-girl.jpg);
@img_home_fetured_4: url(../img/category-kid.jpg);
@img_home_offer: url(../img/OFFER_FOR_WOMEN.jpg);
@product_width: 263px; /* ширина затемнения */
@product_height: 364px; /* высота блока с затемнением */
@product_im_height: 280px; /* высота затемнения */
@product_link_width: 123px; /* ширина ссылки внутри затемнения */
@product_link_top: 100px; /* отступ ссылки внутри затемнения */
@product_link_left: 60px; /* отступ ссылки внутри затемнения */


/*
* {
    margin: 0;
    padding: 0;
}
*/

body {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.container {
    width: 1142px;
    margin: 0 auto;
}

/* vvvvvvv */
/* header */
.header {
    height: 100px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.17);
    border: 1px solid #ececec;
}

.logo {
  width: 59px;
  height: 51px;
}

.header_top {
    display: flex;
    align-items: center;
    height: 100%;
    
    p {
        font-size: 27px;
        font-weight: 300;
        line-height: 1.19;
        letter-spacing: 0.7px;
        color: @color_black;
        margin-left: 37px;
    }

    span {
        font-weight: 900;
        color: @color_red;
    }
}

.header_forms {
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin-left: 15px;
}

.header_browse {
    position: relative;
    
    select {
        padding: 0;
        margin: 0;
        width: 87px;
        height: 38px;
        background-image: linear-gradient(to bottom, #f9f9f9, #f5f5f5);
        border: solid 1px @color_gray_2;
        padding-left: 7px;
        font-size: 14px;
        line-height: 2;
        letter-spacing: 0.4px;
        color:@color_black;
    }
    
    input[type="text"] {
        margin: 0;
        position: absolute;
        left: 87px;
        top: 0;
        width: 248px;
        height: 36px;
        background-color: white;
        border: solid 1px @color_gray_2;
        padding: 0 15px;
        border-left: none;
    }
    
    input[type="submit"] {
        padding: 0;
        margin: 0;
        position: absolute;
        left: 366px;
        height: 38px;
        width: 38px;
        top: 0;
        background-color: white;
        border: solid 1px @color_gray_2;
        background-image: url(../img/search.png);
        background-repeat: no-repeat;
        background-position: center;
        border-left: none;
    }
    
    input[type="text"]:focus {
        color: @color_black;
        font-size: 16px;
        outline: none;
    }
    
    input[type="submit"]:focus, 
    select:focus {
        outline: none;
    }
    
    select:active {
        width: 262px;
    }
    
    select .head_select {
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 2.29;
        letter-spacing: 0.4px;
        color: @color_black;
    } 
}

.header_my_account {
    display: flex;
    align-items: center;

    .my_account {
            display: block;
            width: 130px;
            height: 38px;
            background-color: @color_red;
            color: white;
            text-decoration: none;
            font-size: 15px;
            line-height: 36px;
            letter-spacing: 0.4px;
            padding-left: 19px;

    }
    
    .my_account:hover {
        text-decoration: underline;
    }
}

.my_basket {
    > li:hover .full_basket {
        display: block;
    }

    > li {
        margin-right: 15px;
        position: relative;
        .basket {
            width: 49px;
            height: 44px;
        }
    }
}

.full_basket {
    position: absolute;
    top: 44px;
    left: 0px;
    width: 232px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 2px @color_gray_2;
    padding: 0 15px;
    background-color: white;
    display: none;

    li {
        display: flex;
        border-bottom: 1px solid @color_gray_2;
        margin-top: 19px;
        padding-bottom: 19px;
        img {
            width: 72px;
            height: 85px;
        }
    }
    
    div {
        display: flex;
        flex-direction: column;
    }
    
    img {
        float: left;
    }
    
    p {
        margin-top: 6px;
        margin-left: 14px;
        font-size: 12px;
        font-weight: 900;
        color: @color_black;
    }
    
    .stars {
        margin-top: 12px;
        margin-left: 14px;
        width: 56px;
        height: 12px;
    }

    span {
        margin-top: 12px;
        margin-left: 14px;
        font-weight: 900;
        font-size: 12px;
        color: @color_red;
    }
    
    .miss {
        margin-top: 38px;
        margin-left: 52px;
        width: 12px;
        height: 12px;
        border-radius: 6px;
        background-color: @color_gray_2;
        color: white;
        line-height: 8px;
        text-align: center;
        text-decoration: none;
    }
        
    li:last-child {
        border-bottom: none;
        display: flex;
        flex-direction: column;
    }
    
    .checkout {
        display: block;
        height: 50px;
        width: 100%;
        text-transform: uppercase;
        line-height: 50px;
        font-size: 14px;
        font-weight: 900;
        text-align: center;
        color: @color_red;
        border: 1px solid @color_red;
        text-decoration: none;
    }
    
    .checkout:hover {
        text-decoration: underline;
    }
    
    .go_to_cart {
        display: block;
        height: 50px;
        width: 100%;
        text-transform: uppercase;
        line-height: 50px;
        font-size: 14px;
        font-weight: 900;
        text-align: center;
        color: @color_black;
        border: 1px solid @color_gray;
        text-decoration: none;
        margin-top: 10px;
    }
    
    .go_to_cart:hover {
        text-decoration: underline;
    }
    
    li:nth-last-child(2) {
        border-bottom: none;
        height: 16px;
        display: flex;
        justify-content: space-between;
        p {
            margin-left: 0;
            font-size: 16px;
            line-height: 16px;
            font-weight: 900;
            color: @color_black;

        }
     }
}


.nav_flex {
    display: flex;
    justify-content: center;
    height: 51px;
    align-items: center;
    
    li {
        margin: 0 10px;
    }
    
    a {
        padding: 19px 10px;
        font-size: 14px;
        font-weight: 900;
        text-align: left;
        color: @color_black;
        text-transform: uppercase;
        text-decoration: none;
    }
    
    .link_active {
        padding-bottom: 17px;
        border-bottom: 3px solid @color_red;
    }
    
    a:hover {
        padding-bottom: 17px;
        border-bottom: 3px solid @color_red;
        text-decoration: none;
    }
}
/* header */
/* ^^^^^^^ */

/* vvvvvvvvvvvvvvvvvvvvv */
/* слайдер титульной страницы */
.slider {
    height: 613px;
    background-color: @color_gray;
    margin-top: 4px;
}

.slider_flex {
    display: flex;
    height: 100%;
    align-items: center;
    background: @img_slider 0 -51px;
}

.slider_text {
    height: 92px;
    border-left: 12px solid @color_red;
    color: @color_black;
    font-size: 40px;
    line-height: 40px;
    font-weight: 900;
    letter-spacing: 1px;
}

.slider_text h3 {
    font-family: Lato;
    font-weight: 900;
    font-size: 60px;
    line-height: 55px;
    letter-spacing: 1.5px;
    margin-left: 12px;
}

.slider_text p {
    margin-left: 12px;
}

.slider_text span {
    color: @color_red;
}
/* слайдер титульной страницы */
/* ^^^^^^^^^^^^^^^^ */

/* vvvvvvvvvvvvvvvvv */
/* титульная страница */
/* раздел категорий */
.category {
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
}

.category > div > div:first-child {
    margin-bottom: 20px;
}

.item {
    width: 560px;
    background-size: 100%;
    padding-top: 26px;
}

.item_1 {
    height: 542px;
    background: @img_home_fetured_1 no-repeat;
}

.item_2 {
    height: 261px;
    background: @img_home_fetured_2 no-repeat;
}

.item_3 {
    height: 261px;
    background: @img_home_fetured_3 no-repeat;
}

.item_4 {
    height: 542px;
    background: @img_home_fetured_4 no-repeat;
}

.item a {
    padding: 16px 18px;
    background-color: white;
    text-decoration: none;
/*    outline: 1px solid black;*/
    display: inline-block;
}

.item a:hover {
    border-left: 5px solid @color_red;
    padding-left: 13px;
}

.item p {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 0.5px;
    color: @color_black;
}

.item span {
    font-size: 30px;
    letter-spacing: 0.8px;
    color: @color_red;
    margin-top: 10px;
    display: block;
}
/* раздел категорий */
/* титульная страница */
/* ^^^^^^^^^^^^^^^^ */

/* vvvvvvvvvvvvvvvvv */
/* титульная страница */
/* раздел рекомендуемые */
.fetured {
    color: @color_black;
    
    h2 {
        font-size: 30px;
        font-weight: 900;
        line-height: 30px;
        letter-spacing: 0.8px;
        text-align: center;
    }
    
    p {
        margin-top: 16px;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0.4px;
        text-align: center;
        color: #9f9f9f;
    }
}

/* блок с предлагаемыми изделиями */
.fetured_items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

/* предлагаемое изделие */
.fetured_item {
    width: @product_width;
    height: @product_height;
    margin-top: 40px;
    position: relative;
    
    a {
        width: @product_width;
        text-decoration: none;
        display: block;
    }
    
    .fetured_product {
        height: @product_height;
        text-transform: uppercase;
    }
    
    img {
        width: @product_width;
        height: @product_im_height;
    }
    
    p {
        font-size: 13px;
        margin-left: 15px;
        font-weight: 900;
        text-align: left;
        color: @color_black;
    }
    
    .red {
        color: @color_red;
    }
    
    .add_basket {
        position: absolute;
        top: @product_link_top;
        left: @product_link_left;
        border: 1px solid white;
        padding: 10px 10px;
        color: white;
        width: @product_link_width;
        text-align: center;
        display: none;
    }
    
}

.fetured_item:hover {
    box-shadow: 0px 5px 8px 0 rgba(0, 0, 0, 0.16);
}
.fetured_item:hover img {
    filter: brightness(50%);
}
.fetured_item:hover .add_basket {
    display: block;
}
.fetured_item .add_basket:hover {
    text-decoration: underline;
}

/* розовая кнопка */
.all_products {
    display: flex;
    justify-content: center;
    margin-top: 58px;
    
    a {
        display: block;
        width: 212px;
        height: 48px;
        background-color: @color_red;
        font-size: 16px;
        font-weight: 900;
        line-height: 48px;
        letter-spacing: 0.4px;
        text-align: center;
        color: white;
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: underline;
    }
    
    a:active {
        position: relative;
        top: 3px;
        left: 3px;
    }
}
/* раздел рекомендуемые */
/* титульная страница */
/* ^^^^^^^^^^^^^^^^ */

/* титульная страница */
/* раздел FOR WOMAN */
/* vvvvvvvvvvvvvvvvv */
.special_offer {
    margin-top: 113px;
    margin-bottom: 97px;
    height: 529px;
    display: flex;
}

/* блок с фото */
.special_foto {
    width: 767px;
    height: 529px;
    background-image: @img_home_offer;
    background-repeat: no-repeat;
    background-size: 100%;
    
    div {
        margin-top: 145px;
        margin-left: 40px;
        color: white;
        display: inline-block;
    }
    
    p {
        font-size: 30px;
        line-height: 30px;
        font-weight: 700;
        letter-spacing: 0.8px;
        color: white;
    }

    h3 {
        font-size: 50px;
        line-height: 50px;
        font-weight: 400;
        letter-spacing: 1.3px;
        color: white;
    }

    span {
        color: @color_red;
    }
}

/* блок справа от фото */
.special_box {
    width: 375px;
    height: 529px;
    background-color: @color_black;
/*    background-color: rgb(34, 34, 36);*/
/*    background-color: #222224;*/
    
    div {
        margin-left: 30px;
        margin-top: 48px;
    }
    
    img {
        float: left;
    }
    
    h3 {
        font-size: 20px;
        font-weight: 300;
        line-height: 27px;
        letter-spacing: 0.5px;
        color: white;
        margin-left: 33px;
    }
    
    p {
        font-size: 14px;
        font-weight: 300;
        line-height: 23px;
        letter-spacing: 0.4px;
        color: white;
        margin-left: 33px;
        margin-top: 17px;
        margin-right: 43px;
    }
}
/* раздел FOR WOMAN */
/* титульная страница */
/* ^^^^^^^^^^^^^^^^ */

